@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --nav-background-color:  #9376e0;
    --text-color:#fff;
    --btn-color:#e893cf;
    --font-size:16px;
}
.container{
    max-width: 1320px;
    width: 85%;
    margin: 0 auto;
}
/* common shared styles */

.section-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0;
}
.primary-bnt{
    background-color: var(--btn-color);
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
.secondary-btn{
    border-radius: 5px;
    padding:10px 20px;
    color: gray;
}
span{
    color: var(--btn-color);
    font-weight: 900;
    font-size: 3rem;
}

/* header area section start */
/* navbar area start */
header{
    background-color: var(--nav-background-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: start;
    width: 50%;
}
.nav-left .logo{
    width: 90px;
}
.nav-left h2{
    font-size: 1.8rem;
    font-weight: 300;
}
.nav-right{
    width: 50%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.nav-ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
}
/* banner area start */

